body {
    max-width: 100%;
    margin: 0;
    background-color: #ebc280;
    /* background-image: url("https://www.medicaldaily.com/sites/medicaldaily.com/files/2017/01/17/coffee.jpg"); */
    /* Coffee Beans Background Image */
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fvectors%2Fseamless-coffee-beans-pattern-vector-id538478401%3Fk%3D6%26m%3D538478401%26s%3D170667a%26w%3D0%26h%3D_dhBGLvlP_EQVJzXXK3tRV70AqD6po-Sa-Xk9veEvuk%3D&f=1&nofb=1");
    
}


img {
    width: 50%;
    height: 50%;
    object-fit:contain;
    border: 4px solid rgb(196, 146, 80);
   
} 


.pageHeader {
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.289);
    font-family: 'Fredericka the Great', Georgia, 'Times New Roman', Times, serif;
        background-color: #06050478;
        color: azure;
    
}


/* REMOVE DEFAULT PADDING */
ul {
    padding: 0;
}

/********* COFFEE SHOP CARDS ********/
.shop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.shop-info {
    font-size: .96rem;
}

.shop a:hover {
    color: white;
}

/******** NAVIGATION *********/
.nav--list {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    
}

.nav--item {
    padding: 0 6px 0 6px;
}


/******* LINKS ********/
a {
    font-size: 1.2rem;
    color: gainsboro;
}

a:hover {
    color: rgb(2, 204, 250);
}

/****** LIST OF SHOPS *******/

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
/* .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 10em;
}

.list {
    color: black;
    text-decoration: none;
    
}

.list a:hover {
    
    color:azure;
} */

.shop {
    flex-basis: 16%;
    border: 2px solid darkgray;
    margin: 0.5rem;
    padding: .75rem;
    font-family: 'Fredericka the Great',
        Georgia,
        'Times New Roman',
        Times,
        serif;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 2px 4px 6px rgb(22, 20, 20);
    border-radius: 4px;
    background-color: rgb(242, 237, 229);
    margin-top: 30px;
}

.shop p {
    font-family: 'Avenir'
}

.shop a {
    color: black;
}


.shop a:hover {
    color: rgb(251, 99, 99);
}

.shop:hover {
    /* background-color:#fefeff; */
    /* border: 2px solid rgb(0, 221, 255); */
    box-shadow: 0 0 5px 4px rgb(149, 238, 251);
    cursor: grab;
}


/********* MEDIA QUERIES **********/

@media (max-width: 1050px) {
    .pageHeader {
            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;
            margin-bottom: 1.5rem;
            /* background-color: cornsilk; */
        }
}

@media (max-width: 800px) {
    .pageHeader {
        text-align: center;
        font-size: 1.25rem;
        padding: 1rem;
        margin-bottom: 1.5rem;
        /* background-color: cornsilk; */
    }
}



@media (max-width: 750px) {
    .pageHeader {
        text-align: center;
        font-size: 1.25rem;
        padding: 1rem;
        margin-bottom: 1.5rem;
        /* background-color: cornsilk; */
    }
}

@media (max-width: 685px) {
    .pageHeader {
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        margin-bottom: 1.5rem;
        /* background-color: cornsilk; */
    }
}

@media (max-width: 520px) {
    .pageHeader {
        text-align: center;
        font-size: .85rem;
        padding: 1rem;
        margin-bottom: 1.5rem;
        /* background-color: cornsilk; */
    }
}

@media (max-width: 400px) {
    .pageHeader {
        text-align: center;
        font-size: .7rem;
        padding: 1rem;
        margin-bottom: 1.5rem;
        /* background-color: cornsilk; */
    }
}

@media (max-width: 800px) {
    .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            flex-direction: column;
            align-content: center;
            align-items: stretch;
        }
}


